<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bejelentkezés</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <form id="loginForm" action="/login" method="post">
        <h2>Bejelentkezés</h2>
        <div class="input-group">
            <label for="username">Felhasználónév:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Jelszó:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Bejelentkezés</button>
    </form>
    <div class="register-link">
        <p>Nincs még fiókod? <a href="/register">Regisztráció</a></p>
    </div>
    <p th:if="${error}" style="color: red" th:text="${error}"></p>
</div>

<!--<script th:src="@{/scripts/script.js}"></script>-->
</body>
</html>
