<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <title>Profil</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">NEPTUN</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Főoldal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Kurzusok</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exams">Vizsgák</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/profile">Profil</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="btn btn-danger nav-link" href="/logout">Kijelentkezés</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h2>Profil adatok</h2>
                    <table class="table">
                        <tr>
                            <th>Felhasználónév</th>
                            <td th:text="${user.username}"></td>
                        </tr>
                        <tr>
                            <th>Keresztnév</th>
                            <td th:text="${user.firstName}"></td>
                        </tr>
                        <tr>
                            <th>Vezetéknév</th>
                            <td th:text="${user.lastName}"></td>
                        </tr>
                        <tr>
                            <th>Születési hely</th>
                            <td th:text="${user.doBorn}"></td>
                        </tr>
                        <tr>
                            <th>Születési idő</th>
                            <td th:text="${user.doBirth}"></td>
                        </tr>
                        <tr>
                            <th>Státusz</th>
                            <td th:text="${user.status}"></td>
                        </tr>
                        <tr>
                            <th>Szak</th>
                            <td th:text="${user.major}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h2>Felvett kurzusok</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Kód</th>
                            <th scope="col">Cím</th>
                            <th scope="col">Férőhely</th>
                            <th scope="col">Jelleg</th>
                            <th scope="col">Szemeszter</th>
                            <th scope="col">Heti óraszám</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="course : ${user.course}">
                            <td th:text="${user.addCourse.course.id}"></td>
                            <td th:text="${user.addCourse.course.title}"></td>
                            <td th:text="${user.addCourse.course.capacity}"></td>
                            <td th:text="${user.addCourse.course.type}"></td>
                            <td th:text="${user.addCourse.course.semester}"></td>
                            <td th:text="${user.addCourse.course.weeklyHours}">óra</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>

