<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztráció</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>


<div class="container">
<!-- Regisztrációs űrlap -->
<form action="/register" method="post">
    <h2>Regisztráció</h2>
    <div class="input-group">
        <label for="username">Felhasználónév:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="input-group">
        <label for="password">Jelszó:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div class="input-group">
        <label for="doBorn">Születési hely:</label>
        <input type="text" id="doBorn" name="doBorn" required>
    </div>
    <div class="input-group">
        <label for="doBirth">Születési idő:</label>
        <input type="date" id="doBirth" name="doBirth" required>
    </div>
    <div class="input-group">
        <label for="firstName">Keresztnév:</label>
        <input type="text" id="firstName" name="firstName" required>
    </div>
    <div class="input-group">
        <label for="lastName">Vezetéknév:</label>
        <input type="text" id="lastName" name="lastName" required>
    </div>
    <div class="input-group">
        <label for="status">Státusz (Hallgató, Oktató):</label>
        <select id="status" name="status" required>
            <option value="student">Hallgató</option>
            <option value="teacher">Oktató</option>
        </select>
    </div>
    <div class="input-group">
        <label for="major">Szak:</label>
        <select id="major" name="major" required>
            <option value="majorComputerEngineer">Programtervező informatikus</option>
            <option value="majorBusinessInformatics">Gazdaságinformatikus</option>
            <option value="majorBiology">Biológus</option>
            <option value="majorMechanicalEngineer">Gépészmérnök</option>
            <option value="majorDoctor">Orvos</option>
            <option value="majorLawyer">Jogász</option>
            <option value="majorEconomist">Közgazdász</option>
            <option value="majorPsychologist">Pszichológus</option>
            <option value="majorElectricalEngineer">Villamosmérnök</option>
            <option value="majorChemist">Kémikus</option>
            <option value="majorPhysicist">Fizikus</option>
            <option value="majorMathematichian">Matematikus</option>
        </select>
    </div>
    <button type="submit">Register</button>
    <div class="login-link">
        <p><a href="/login">Bejelentkezés</a></p>
    </div>
    <p th:if="${param.error}" class="error">Nem sikerült a regisztráció! Próbáld újra!</p>
    <p th:if="${param.success}" class="success">A regisztráció sikeres!</p>
</form>
</div>


</body>
</html>
